# Python
*.pyc
*~
__pycache__

# Env
.env
venv/
pyvenv.cfg

# Database
db.sqlite3

# Static folder at project root
/static/
.idea/
Scenarij_1.out
Scenarij_2.out
Scenarij_3.out
Scenarij_4.out
Scenarij_5.out
Scenarij_6.out

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace
/scenarij1.txt
